ion-content{
    --ion-background-color: -webkit-linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
    --ion-background-color: -moz-linear-gradient(360deg, #01a99c 10%, #0698b1 360%);
    --ion-background-color: linear-gradient(360deg, #01a99c 10%, #0698b1 360%)
}