/* header/navbar styling */
h1 {
    font-family: "Russo One", sans-serif;
    font-size: 2em;
    margin-top: 0.5em;
}
.header {
    background-color: chartreuse;
    border: solid black;
}
.navbar {
    border: solid black;
    border-radius: 1em;
    box-shadow: 0.75em 0.75em;
    padding: 0em;
}
.active {
    font-size: 1.5em;
    font-weight: bolder;
}
.container {
    font-family: "Russo One", sans-serif;
}
/* about card styling */
.card {
    padding: 2em;
    margin: 2em;
    background-color: darkgray;
    border-style: solid;
    border-color: chartreuse;
    border-width: 0.5em;
    border-radius: 1em;
    box-shadow: 1em 1em;
}
.card-img {
    border: solid black;
    border-width: 0.25em;
    box-shadow: 1em 1em;
    margin: 1.5em auto;
}
.imgbox {
    display: block;
    max-width: 100vw;
    max-height: 100vw;
    margin: auto;
    padding: 0em;
}
/* taken from https://stackoverflow.com/questions/13674086/rotate-image-with-css */
.rotateimg90 {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.card-body {
    border-style: solid;
    border-color: chartreuse;
    border-radius: 1em;
    margin-left: 0.5em;
    margin-top: 0.5em;
    box-shadow: 1em 1em;
}
/* background image */
html {
    height: 100vh;
}
/* taken from https://css-tricks.com/perfect-full-page-background-image/ */
body { 
    background: url("../assets/images/hero.JPG") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/* end background image */
@media only screen and (max-width: 750px) {
    .card-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .card-body {
        margin: 2.5em;
    }

  }
/* end card styling */

/* contact form styling */
form {
    border: solid chartreuse;
    border-radius: 1em;
    border-width: 0.5em;
    margin: 1em;
    background-color: darkgrey;
    padding: 0.5em;
}
label {
    margin-left: 0.25em;
    text-decoration: underline; 
}
.form-control {
    padding: 0.25em;
    border: solid black;
}
/* button styling */
.btn-primary {
    color: black;
    background-color: chartreuse;
    border: solid black;
    border-radius: 0.5em;
    margin: 0.25em;
}
.btn-primary:focus {
    color: chartreuse;
    background-color: black;
    border: solid chartreuse;
    border-radius: 0.5em;
    margin: 0.25em;
}
.btn-primary:hover {
    color: chartreuse;
    background-color: black;
    border: solid chartreuse;
    border-radius: 0.5em;
    margin: 0.25em;
}
.button-holder {
    text-align: right;
}
/* end button styling */
/* end contact form styling */

/* begin portfolio styling */
