hr {
    border: none;
    /* Set the hr color */
    color: #333; /* old IE */
    background-color: #333; /* Modern Browsers */
}
.container {
    height: 10em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 57%!important;
}
.containerAv {
    height: 18em;
    display: flex;
    align-items: center;
    justify-content: center
}
.tx {               
    margin: 0;
    color: white
}
.av {
    margin: 1;
    color: white
}
.avatarSm {
    width:100% !important;
    height : 100% !important;
    max-width: 250px !important; 
    max-height: 250px !important;
    margin: 10px;
    visibility: visible!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.avatarLg {
    width: 100% !important;
    height : 100% !important;
    max-width: 250px !important; 
    max-height: 250px !important;
    margin: 10px;
    visibility: visible!important;
}